/* This Script is meant for the initial animation */

/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}


/* Small phones like Iphone 5 SE */
@media screen and (max-width:375px) {
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #5d28a7dc, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 50% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 50%;
        position: relative;
        left: 25%;
        top: 25vh;
        border-radius: 50%;
        height: 35vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    

    
}















/* Iphone X Dimension */
@media only screen and (min-width:376px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #5d28a7dc, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 50% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 50%;
        position: relative;
        left: 25%;
        top: 25vh;
        border-radius: 50%;
        height: 35vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
}






/* tablet portrait */
@media only screen and (min-width:768px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #5d28a7dc, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 50% 50%;
        }
    }
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 50%;
        position: relative;
        left: 25%;
        top: 25vh;
        border-radius: 50%;
        height: 35vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
   
}


/* tablet landscape / small monitors */ 
@media only screen and (min-width:1024px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #5d28a7dc, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 50% 50%;
        }
    }
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 30%;
        position: relative;
        left: 25%;
        top: 9vh;
        border-radius: 50%;
        height: 48vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    
}






/*Small Monitor Screen */
@media only screen and (min-width:1280px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #5d28a7dc, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 50% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 25%;
        position: relative;
        left: 43%;
        top: 28vh;
        border-radius: 50%;
        height: 48vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    

}



/* medium monitors */
@media only screen and (min-width:1440px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #5d28a7dc, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 50% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 25%;
        position: relative;
        left: 40%;
        top: 28vh;
        border-radius: 50%;
        height: 48vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    
}






/* Large Monitor */
@media only screen and (min-width:1920px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #5d28a7dc, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 50% 50%;
        }
    }
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 25%;
        position: relative;
        left: 36%;
        top: 28vh;
        border-radius: 50%;
        height: 48vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    
}