/* This Script is meant for the initial animation */

/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Small phones like Iphone 5 SE */
@media screen and (max-width:375px) {
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #23a6d5, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 50%;
        position: relative;
        left: 25%;
        top: 25vh;
        border-radius: 50%;
        height: 35vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    /* Arrow being built */
    .arrow {
        z-index: +2;
        position: relative;
        margin: 0 auto;
        width: 10em;
        transform: rotate(65deg);
        position: relative;
        left: 68%;
        top: -3vh;
    }
    
    .arrow .curve {
        z-index: +2;
        border: 10px solid #318ba1;
        border-color: transparent transparent transparent #318ba1;
        height: 365px;
        width: 500px;
        border-radius: 230px 0 0 150px;
    }
    
    .arrow .point {
        z-index: +2;
        position: absolute;
        left: 30px;
        top: 310px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
    
    .arrow .point:before, .arrow .point:after {
        border: 15px solid #318ba1;
        height: 55px;
        content: "";
        position: absolute;
        z-index: +2;
    }
    
    .arrow .point:before {
        top: -11px;
        z-index: +2;
        left: -11px;
        transform:rotate(-74deg);
        -webkit-transform:rotate(-74deg);
        -moz-transform:rotate(-74deg);
        -ms-transform: rotate(-74deg);
    }
    
    .arrow .point:after {
        z-index: +2;
        top: -20px;
        left: 5px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
    
}















/* Iphone X Dimension */
@media only screen and (min-width:376px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 50%;
        position: relative;
        left: 25%;
        top: 25vh;
        border-radius: 50%;
        height: 35vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    /* Arrow being built */
    .arrow {
        z-index: +2;
        position: relative;
        margin: 0 auto;
        width: 10em;
        transform: rotate(65deg);
        position: relative;
        left: 68%;
        top: -3vh;
    }
    
    .arrow .curve {
        z-index: +2;
        border: 10px solid #318ba1;
        border-color: transparent transparent transparent #318ba1;
        height: 365px;
        width: 500px;
        border-radius: 230px 0 0 150px;
    }
    
    .arrow .point {
        z-index: +2;
        position: absolute;
        left: 30px;
        top: 310px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
    
    .arrow .point:before, .arrow .point:after {
        border: 15px solid #318ba1;
        height: 55px;
        content: "";
        position: absolute;
        z-index: +2;
    }
    
    .arrow .point:before {
        top: -11px;
        z-index: +2;
        left: -11px;
        transform:rotate(-74deg);
        -webkit-transform:rotate(-74deg);
        -moz-transform:rotate(-74deg);
        -ms-transform: rotate(-74deg);
    }
    
    .arrow .point:after {
        z-index: +2;
        top: -20px;
        left: 5px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
}






/* tablet portrait */
@media only screen and (min-width:768px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #23a6d5, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 50%;
        position: relative;
        left: 25%;
        top: 25vh;
        border-radius: 50%;
        height: 35vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    /* Arrow being built */
    .arrow {
        z-index: +2;
        position: relative;
        margin: 0 auto;
        width: 10em;
        transform: rotate(65deg);
        position: relative;
        left: 30%;
        top: -3vh;
    }
    
    .arrow .curve {
        z-index: +2;
        border: 10px solid #318ba1;
        border-color: transparent transparent transparent #318ba1;
        height: 365px;
        width: 500px;
        border-radius: 230px 0 0 150px;
    }
    
    .arrow .point {
        z-index: +2;
        position: absolute;
        left: 30px;
        top: 310px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
    
    .arrow .point:before, .arrow .point:after {
        border: 15px solid #318ba1;
        height: 55px;
        content: "";
        position: absolute;
        z-index: +2;
    }
    
    .arrow .point:before {
        top: -11px;
        z-index: +2;
        left: -11px;
        transform:rotate(-74deg);
        -webkit-transform:rotate(-74deg);
        -moz-transform:rotate(-74deg);
        -ms-transform: rotate(-74deg);
    }
    
    .arrow .point:after {
        z-index: +2;
        top: -20px;
        left: 5px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
}


/* tablet landscape / small monitors */ 
@media only screen and (min-width:1024px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #23a6d5, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 30%;
        position: relative;
        left: 25%;
        top: 9vh;
        border-radius: 50%;
        height: 48vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    /* Arrow being built */
    .arrow {
        z-index: +2;
        position: relative;
        margin: 0 auto;
        width: 10em;
        transform: rotate(65deg);
        position: relative;
        left: 30%;
        top: -3vh;
    }
    
    .arrow .curve {
        z-index: +2;
        border: 10px solid #318ba1;
        border-color: transparent transparent transparent #318ba1;
        height: 365px;
        width: 500px;
        border-radius: 230px 0 0 150px;
    }
    
    .arrow .point {
        z-index: +2;
        position: absolute;
        left: 30px;
        top: 310px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
    
    .arrow .point:before, .arrow .point:after {
        border: 15px solid #318ba1;
        height: 55px;
        content: "";
        position: absolute;
        z-index: +2;
    }
    
    .arrow .point:before {
        top: -11px;
        z-index: +2;
        left: -11px;
        transform:rotate(-74deg);
        -webkit-transform:rotate(-74deg);
        -moz-transform:rotate(-74deg);
        -ms-transform: rotate(-74deg);
    }
    
    .arrow .point:after {
        z-index: +2;
        top: -20px;
        left: 5px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
}






/*Small Monitor Screen */
@media only screen and (min-width:1280px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #23a6d5, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 25%;
        position: relative;
        left: 43%;
        top: 28vh;
        border-radius: 50%;
        height: 48vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    /* Arrow being built */
    .arrow {
        z-index: +2;
        position: relative;
        margin: 0 auto;
        width: 10em;
        transform: rotate(65deg);
        position: relative;
        left: 30%;
        top: -3vh;
    }
    
    .arrow .curve {
        z-index: +2;
        border: 10px solid #318ba1;
        border-color: transparent transparent transparent #318ba1;
        height: 365px;
        width: 500px;
        border-radius: 230px 0 0 150px;
    }
    
    .arrow .point {
        z-index: +2;
        position: absolute;
        left: 30px;
        top: 310px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
    
    .arrow .point:before, .arrow .point:after {
        border: 15px solid #318ba1;
        height: 55px;
        content: "";
        position: absolute;
        z-index: +2;
    }
    
    .arrow .point:before {
        top: -11px;
        z-index: +2;
        left: -11px;
        transform:rotate(-74deg);
        -webkit-transform:rotate(-74deg);
        -moz-transform:rotate(-74deg);
        -ms-transform: rotate(-74deg);
    }
    
    .arrow .point:after {
        z-index: +2;
        top: -20px;
        left: 5px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
}



/* medium monitors */
@media only screen and (min-width:1440px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #23a6d5, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 25%;
        position: relative;
        left: 40%;
        top: 28vh;
        border-radius: 50%;
        height: 48vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    /* Arrow being built */
    .arrow {
        z-index: +2;
        position: relative;
        margin: 0 auto;
        width: 10em;
        transform: rotate(65deg);
        position: relative;
        left: 30%;
        top: -3vh;
    }
    
    .arrow .curve {
        z-index: +2;
        border: 10px solid #318ba1;
        border-color: transparent transparent transparent #318ba1;
        height: 365px;
        width: 500px;
        border-radius: 230px 0 0 150px;
    }
    
    .arrow .point {
        z-index: +2;
        position: absolute;
        left: 30px;
        top: 310px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
    
    .arrow .point:before, .arrow .point:after {
        border: 15px solid #318ba1;
        height: 55px;
        content: "";
        position: absolute;
        z-index: +2;
    }
    
    .arrow .point:before {
        top: -11px;
        z-index: +2;
        left: -11px;
        transform:rotate(-74deg);
        -webkit-transform:rotate(-74deg);
        -moz-transform:rotate(-74deg);
        -ms-transform: rotate(-74deg);
    }
    
    .arrow .point:after {
        z-index: +2;
        top: -20px;
        left: 5px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
}






/* Large Monitor */
@media only screen and (min-width:1920px){
    body {
        background: linear-gradient(-145deg, #699a3b, #9de73c, #23a6d5, #23d5ab);
        background-size: 500% 500%;
        animation: gradient 5s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
    /* This is the profile pic and having it be center */
    .arrival{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* the glow animation is used for the image */
    #arrivalProfilePic{
        width: 25%;
        position: relative;
        left: 36%;
        top: 28vh;
        border-radius: 50%;
        height: 48vh;
        position: absolute;
        animation: glow .3s infinite alternate;
    }
    
    
    @keyframes glow {
        from {
        box-shadow: 0 0 20px -15px #ff0000;
        }
        to {
        box-shadow: 0 0 5px 15px #8484d1;
        }
    }
    
    /* Arrow being built */
    .arrow {
        z-index: +2;
        position: relative;
        margin: 0 auto;
        width: 10em;
        transform: rotate(65deg);
        position: relative;
        left: 16%;
        top: 8vh;
    }
    
    .arrow .curve {
        z-index: +2;
        border: 10px solid #318ba1;
        border-color: transparent transparent transparent #318ba1;
        height: 365px;
        width: 500px;
        border-radius: 230px 0 0 150px;
    }
    
    .arrow .point {
        z-index: +2;
        position: absolute;
        left: 30px;
        top: 310px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
    
    .arrow .point:before, .arrow .point:after {
        border: 15px solid #318ba1;
        height: 55px;
        content: "";
        position: absolute;
        z-index: +2;
    }
    
    .arrow .point:before {
        top: -11px;
        z-index: +2;
        left: -11px;
        transform:rotate(-74deg);
        -webkit-transform:rotate(-74deg);
        -moz-transform:rotate(-74deg);
        -ms-transform: rotate(-74deg);
    }
    
    .arrow .point:after {
        z-index: +2;
        top: -20px;
        left: 5px;
        transform:rotate(12deg);
        -webkit-transform: rotate(12deg);
        -moz-transform:rotate(12deg);
        -ms-transform: rotate(12deg);
    }
}